<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bosssoft.hr.bes.dao.Mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.bosssoft.hr.bes.exam.pojo.pojo.Role" >
    <id column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="createdTime" property="createdtime" jdbcType="DATE" />
    <result column="updatedTime" property="updatedtime" jdbcType="DATE" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    roleId, name, code, remarks, status, createdTime, updatedTime, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where roleId = #{roleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_role
    where roleId = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bosssoft.hr.bes.exam.pojo.pojo.Role" >
    insert into t_role (roleId, name, code, 
      remarks, status, createdTime, 
      updatedTime, version)
    values (#{roleid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{createdtime,jdbcType=DATE}, 
      #{updatedtime,jdbcType=DATE}, #{version,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bosssoft.hr.bes.exam.pojo.pojo.Role" >
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="updatedtime != null" >
        updatedTime,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=DATE},
      </if>
      <if test="updatedtime != null" >
        #{updatedtime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bosssoft.hr.bes.exam.pojo.pojo.Role" >
    update t_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=DATE},
      </if>
      <if test="updatedtime != null" >
        updatedTime = #{updatedtime,jdbcType=DATE},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bosssoft.hr.bes.exam.pojo.pojo.Role" >
    update t_role
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      createdTime = #{createdtime,jdbcType=DATE},
      updatedTime = #{updatedtime,jdbcType=DATE},
      version = #{version,jdbcType=VARCHAR}
    where roleId = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>